[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pybullet = "*"
agents = "*"
gym = "*"
pygame = "*"
py4j = "*"
baselines = "*"
stable-baselines = "*"

[requires]
python_version = "3.7"
