baselines.egg==info
tf_nightly_2.0_preview==2.0.0.dev20190717
pygame==1.9.4
pybullet==2.5.1
cloudpickle==0.6.1
gym==0.12.0
setuptools==41.0.1
py4j==0.10.8.1
dill==0.2.8.2
numpy==1.16.3
baselines==0.1.5
stable_baselines==2.6.0
tensorflow==1.14.0
